$topCardWidth: Clamp(2.5rem, 10vw, 10vh);
$smallCardWidth: Clamp(2.5rem, 11vw, 14vh);
$cardWidth: Clamp(2.5rem, 11vw, 16vh);
$largeCardWidth: Clamp(2.5rem, 11vw, 18vh);
$largerCardWidth: Clamp(2.5rem, 11vw, 20vh);
$largestCardWidth: Clamp(2.5rem, 11vw, 22vh);