.board {
  padding: 1rem 1rem;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: hsl(29deg, 90%, 8%);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 0.8fr;
  box-shadow: 0 0 5px 0 black;
}
.board svg {
  aspect-ratio: 592/800;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 2px;
  background-color: black;
  box-shadow: 0 0 0.5rem 0 hsla(0deg, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.board[data-info-shown=false] {
  grid-column-end: -1;
}

.playspace {
  position: relative;
  padding: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: hsl(100deg, 80%, 10%);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 9fr;
  justify-content: space-around;
}

.top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 15vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  align-items: flex-start;
  justify-content: flex-start;
}
.top[data-game-type=spider] {
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.winPiles {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clubs, .spades, .hearts, .diamonds {
  max-height: 100%;
  width: 100%;
}

.clubs {
  grid-column-start: 1;
  grid-column-end: 2;
}

.spades {
  grid-column-start: 2;
  grid-column-end: 3;
}

.hearts {
  grid-column-start: 3;
  grid-column-end: 4;
}

.diamonds {
  grid-column-start: 4;
  grid-column-end: 5;
}

.deck {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10%;
}

.playable {
  grid-column-start: 3;
  grid-column-end: -1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.main {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.column0, .column1, .column2, .column3, .column4, .column5, .column6 {
  width: 14vw;
  height: 100%;
  position: relative;
  transition: 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.undo {
  position: absolute;
  padding: 1rem;
  bottom: 2.5rem;
  left: 1rem;
}

.points {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.buttons {
  padding-top: 0.25rem;
  align-self: flex-end;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  display: flex;
}

.btn {
  padding: 1rem;
  margin: auto;
}

.gameBtn, .ThreeCardBtn, .spiderBtn {
  padding: 1rem;
  margin: auto;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.gameSelection {
  overflow: visible;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(100deg, 80%, 10%);
  width: 100%;
  height: 100%;
}

.gameBtn, .ThreeCardBtn, .spiderBtn {
  position: relative;
  width: 40%;
  height: 40%;
  border-radius: 4rem;
  background-color: hsl(29deg, 90%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 820px) {
  .board {
    grid-column-end: -1;
    grid-row-end: 2;
  }

  .board[data-info-shown=false] {
    grid-row-end: -1;
    grid-template-rows: 10fr 2fr;
  }

  .board[data-info-shown=false] .btn {
    align-self: flex-start;
  }

  .playspace {
    grid-template-rows: 1fr 14fr;
  }

  .top {
    height: calc(10vh - 2rem);
    margin-top: -0.5rem;
  }
}