* {
  box-sizing: border-box;
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

h3 {
  margin: 0;
}

.app-header {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

.show-info {
  color: white;
  position: absolute;
  right: 1rem;
  top: .5rem;
  z-index: 9999;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 8fr 7fr;
  background: #111a22;
  color: white;
}

.board {
  padding: 2rem 2rem 1rem;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #271402;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .15fr;
  box-shadow: 0 0 5px 0 black;
}

.board[data-info-shown="false"] {
  grid-column-end: -1;
}

.board--playspace {
  position: relative;
  padding: 1rem 2rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #132e05;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 8fr 1fr;
  justify-content: space-around;
  gap: -1rem;
}

.board--top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: .4fr 1fr .6fr;
}

.board--win-piles {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 30vw;
  margin-right: -20%;
}

.board--clubs, .board--spades, .board--hearts, .board--diamonds {
  position: absolute;
  display: flex;
  height: 100%;
  width: 25%;
}

.board--spades {
  left: 20%;
}

.board--hearts {
  left: 40%;
}

.board--diamonds {
  left: 60%;
}

.board--win-piles img {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.board--deck {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 1vw;
  position: relative;
}

.board--deck--card-0, .board--deck--card-1, .board--deck--card-2, .board--deck--card-3, .board--deck--card-4 {
  position: absolute;
  display: flex;
  height: 100%;
  width: 8vw;
}

.board--deck--card-0 {
  left: 0;
}

.board--deck--card-1 {
  left: 7%;
}

.board--deck--card-2 {
  left: 14%;
}

.board--deck--card-3 {
  left: 21%;
}

.board--deck--card-4 {
  left: 28%;
}

.board--deck .board--cardback {
  height: 100%;
  padding: 3px;
  border-radius: 5px;
  background: black;
}

.board--deck-empty {
  position: absolute;
  left: 0;
  aspect-ratio: 360/540;
  border: 3px solid white;
  height: 100%;
  padding: 3px 0;
  border-radius: 5px;
}

.board--playable {
  grid-column-start: 3;
  grid-column-end: -1;
  position: relative;
  height: 100%;
}

.board--playable-1, .board--playable-2, .board--playable-3 {
  position: absolute;
  height: 10vh;
  width: 8vw;
}

.board--playable-1 {
  right: 40%;
}

.board--playable-2 {
  right: 20%;
}

.board--playable-3 {
  right: 0;
}

.board--playable img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.board--main {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
}

.board--column {
  min-width: 10vw;
  max-width: 13vw;
  max-height: 100%;
  padding-top: 10%;
  align-items: center;
  justify-self: start;
  justify-content: flex-start;
  z-index: 1000;
}

.board--column-0, .board--column-1, .board--column-2, .board--column-3, .board--column-4, .board--column-5, .board--column-6 {
  width: 10vw;
  height: 100%;
  position: relative;
  display: block;
}

.board--column--card-0, .board--column--card-1, .board--column--card-2, .board--column--card-3, .board--column--card-4, .board--column--card-5, .board--column--card-6, .board--column--card-7, .board--column--card-8, .board--column--card-9, .board--column--card-10, .board--column--card-11, .board--column--card-12, .board--column--card-13, .board--column--card-14, .board--column--card-15, .board--column--card-16, .board--column--card-17, .board--column--card-18, .board--column--card-19 {
  aspect-ratio: 2.5/3.5;
  overflow: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  max-width: 100%;
  position: absolute;
  left: 20%;
}

.board--column--card-0 {
  z-index: 1000;
  top: 0;
}

.board--column--card-1 {
  z-index: 1001;
  top: 3vh;
}

.board--column--card-2 {
  z-index: 1002;
  top: 6vh;
}

.board--column--card-3 {
  z-index: 1003;
  top: 9vh;
}

.board--column--card-4 {
  z-index: 1004;
  top: 12vh;
}

.board--column--card-5 {
  z-index: 1005;
  top: 15vh;
}

.board--column--card-6 {
  z-index: 1006;
  top: 18vh;
}

.board--column--card-7 {
  z-index: 1007;
  top: 21vh;
}

.board--column--card-8 {
  z-index: 1008;
  top: 24vh;
}

.board--column--card-9 {
  z-index: 1009;
  top: 27vh;
}

.board--column--card-10 {
  z-index: 1010;
  top: 30vh;
}

.board--column--card-11 {
  z-index: 1011;
  top: 33vh;
}

.board--column--card-12 {
  z-index: 1012;
  top: 36vh;
}

.board--column--card-13 {
  z-index: 1013;
  top: 39vh;
}

.board--column--card-14 {
  z-index: 1014;
  top: 42vh;
}

.board--column--card-15 {
  z-index: 1015;
  top: 45vh;
}

.board--column--card-16 {
  z-index: 1016;
  top: 48vh;
}

.board--column--card-17 {
  z-index: 1017;
  top: 51vh;
}

.board--column--card-18 {
  z-index: 1018;
  top: 54vh;
}

.board--column--card-19 {
  z-index: 1019;
  top: 57vh;
}

.board--main .board--card-front {
  border-radius: 5px;
  min-width: 6vw;
  max-width: 10vw;
  margin-top: -20%;
  object-fit: contain;
}

.board--cardback {
  padding: 3.5px;
  background: black;
}

.board--main .board--cardback {
  width: 4.8vw;
  margin: 3%;
  object-fit: contain;
}

.board--undo {
  position: absolute;
  padding: 1rem;
  bottom: 2.5rem;
  left: 1rem;
}

.board--points {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.board--btn {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 2rem;
  margin: 1rem 0 0;
  justify-self: center;
}

.info {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats {
  box-shadow: 0 0 0.5px 0 black;
  padding: 3rem 2rem 2rem;
  height: 40%;
}

.stats p, .stats h1 {
  padding: 0 0 1rem;
  margin: .5rem 0;
}

.stats > button {
  cursor: pointer;
}

.stats--save-marker {
  display: inline;
}

.upgrades-page {
  box-shadow: 0 0 0.2px 0 black;
  grid-row-start: 2;
  grid-row-end: -1;
  padding: 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.upgrades-page h1, .upgrades-page p {
  padding: 0;
  margin: .5rem 0;
}

.upgrades-page--upgrade {
  width: 100%;
  box-shadow: 0 0 5px 0 black;
  padding: 0 1rem 1rem;
  background: #141f29;
}

@media (max-width: 720px) {
  .show-info {
    top: initial;
    bottom: 1rem;
    right: initial;
    left: 1rem;
  }
  .board {
    grid-column-end: -1;
    grid-row-end: 2;
  }
  .board--deck {
    align-self: center;
    max-height: 40%;
  }
  .board--deck .board--cardback {
    max-height: 100%;
  }
  .info {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: -2rem;
  }
  .stats {
    padding-top: 0;
    height: 80%;
  }
  .stats button {
    margin: 0;
  }
  .upgrades-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .30fr 1fr;
    height: 100%;
    padding: 0;
    margin: -.5rem 0 0;
    justify-content: center;
  }
  .upgrades-page h1 {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .upgrades-page--upgrade {
    height: 100%;
    margin-top: -2rem;
  }
  .upgrades-page--upgrade button {
    margin: .25rem auto;
  }
  .board[data-info-shown="false"] {
    grid-row-end: -1;
  }
}
/*# sourceMappingURL=App.css.map */