.board {
  padding: 2rem 2rem 1rem;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #271402;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr .5fr;
  box-shadow: 0 0 5px 0 black;
  & .cardback {
    margin-top: -30%;
    min-width: 50%;
    max-width: 75%;
    object-fit: contain;
  }
}

.board[data-info-shown="false"] {
  grid-column-end: -1;
}

.playspace {
  position: relative;
  padding: 1rem 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #132e05;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 black;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 9fr;
  justify-content: space-around;
}


.top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  align-items: flex-start;
  justify-content: flex-start;
}

.winPiles {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 30vw;
  margin-right: -20%;
}

.clubs, .spades, .hearts, .diamonds {
  position: absolute;
  display: flex;
  height: 100%;
  width: 30%;
}

.spades {
  left: 22%;
}

.hearts {
  left: 44%;
}

.diamonds {
  left: 66%;
}

.win-piles img {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.deck {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  & img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
}

.playable {
  grid-column-start: 3;
  grid-column-end: -1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.playable img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.main {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
  
}

.column0, .column1, .column2, .column3, .column4, .column5, .column6 {
  width: 14vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: .15s ease-in-out;
}


.undo {
  position: absolute;
  padding: 1rem;
  bottom: 2.5rem;
  left: 1rem;
}

.points {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.btn {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 1rem 2rem;
  margin: 1rem 0 0;
  align-self: center;
  justify-self: center;
}

@media (max-width: 820px) {
  .board {
    grid-column-end: -1;
    grid-row-end: 2;
  }
  .board[data-info-shown="false"] {
    grid-row-end: -1;
    grid-template-rows: 10fr 2fr;
  }
  .board[data-info-shown="false"] .btn {
    align-self: flex-start;
  }
  .top {
    height: calc(10vh - 2rem);
  }
  
}