@use "abstracts" as *;

.playspace {
  position: relative;
  padding: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: $green;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0 hsla(0deg, 0%, 0%, 70%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 9fr;
  justify-content: space-around;
  isolation: isolate;
  & svg, & .cardback{
    transform: translateX(0) translateY(0);
    transition: transform .5s ease-in-out;
  }
}


.top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 15vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: clamp(1.25rem, 3.5vmin, 2.25rem);
  &[data-game-type="spider"]{
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}

.winPiles {
  padding: 0;
  margin: 0;
  height: 100%;
  width: calc(4.3 * $topCardWidth);
  position: relative;
  left: 0;
}

.clubs, .spades, .hearts, .diamonds {
  width: $topCardWidth;
  aspect-ratio: 592/800;
  display: inline-block;
  & .ghost {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid hsla(0%, 0%, 80%, 80%);
    border-radius: .5rem;
    &::before {
      content: "A";
      position: absolute;
      top: 0;
      left: 5%;
    }
    &::after {
      content: "A";
      position: absolute;
      bottom: 0;
      right: 5%;
    }
    & .ghost{
      &Club {
  
      }
      &Club {
  
      }
      &Club {
  
      }
      &Diamond {
        display: inline-block;
        &::after{
          content: "";
          position: absolute;
          top: 7.5%;
          right: 7.5%;
          width: .5em;
          aspect-ratio: 1;
          background-color: hsla(0%, 0%, 80%, 80%);
          transform: rotate(45deg);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 7.5%;
          left: 7.5%;
          width: .5em;
          aspect-ratio: 1;
          background-color: hsla(0%, 0%, 80%, 80%);
          transform: rotate(45deg);
        }
      }
    }
  }
}

.deck {
  height: 100%;
  width: 100%;
}

.playable {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  padding: 0;
  
}

.column {

  &0, &1, &2, &3, &4, &5, &6 {
    width: calc((100vw - 4rem) / 7);
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: transform .5s ease-in-out;
    & svg, & .cardback {
      transform: translateX(0);
      transition: transform .5s ease-in-out;
    }
  }
  &0{
    transform: translateX(0);
  }
  &1{
    transform: translateX(100%);
  }
  &2{
    transform: translateX(200%);
  }
  &3{
    transform: translateX(300%);
  }
  &4{
    transform: translateX(400%);
  }
  &5{
    transform: translateX(500%);
  }
  &6{
    transform: translateX(600%);
  }
}
  

.undo {
  position: fixed;
  bottom: 18vh;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $grey;
  border-radius: 1rem;
  border: 1px solid white;
  font-size: clamp(1rem, 4vw, 4vh);
  box-shadow: 0 0 .75rem 0 hsla(0deg, 0%, 0%, .5);
  cursor: pointer;
  color: white;
}

.points {
  position: fixed;
  bottom: 8vh;
  left: 2rem;
  font-size: clamp(1rem, 4vw, 4vh);
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 20%;
  display: flex;
  width: 60%;
  height: 10vh;
  z-index: 6001;
  transform: translateY(0);
  transition: transform .5s ease-in-out;
  overflow: visible;
  &.open {
    transform: translateY(-46vh);
    transition: transform .5s ease-in-out;
  }
  justify-content: space-around;
}

.btn{
  @include header;


  &:not(:first-child){
    font-size: clamp(.5rem, 2vw, 2.5vh);
    line-height: clamp(1rem, 4vw, 5vh);
  }
  &:first-child{
    font-size: clamp(.6rem, 2vw, 3vh);
    line-height: clamp(1rem, 4vw, 6vh);
  }
}


.confirmation {
  width: 100vw;
  height: 46vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 0;
  padding: 1rem clamp(1rem, 8vw, 20vh) 15vh;
  z-index:  6000;
  background-color: $grey;
  border-top: 1px solid white;
  margin: 0;
  text-align: center;
  transform: translateY(46vh);
  transition: transform .5s ease-in-out;
  
  &.open, &.shown {
    transform: translateY(0);
    transition: transform .5s ease-in-out;
  }
  &.shown {
    z-index: 7005;
  }

  & div:first-of-type{
    grid-column: span 2;
    margin: 0;
    height: 100%;
    width: 100%;
    & h1 {
      font-size: clamp(1.5rem, 3vw, 4vh);
      margin: 0;
    }
  }
  
}
.confirmBtn {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 999%;
  aspect-ratio: 1;
  width: clamp(4rem, 20vw, 20vh);
  background-color: $lighter-grey;
  cursor: pointer;
  & h1 {
    margin: 0;
    font-size: clamp(1.5rem, 5vw, 8vh);
    padding-bottom: 1.5vw;
  }

  &:hover {
    background-color: $highlighted-grey;
  }
}


@media (max-width: 820px) {
  .playspace {
    grid-template-rows: 1fr 14fr;
  }
  .top {
    height: 15vw;
    margin-top: -.5rem;
  }
  .buttons {
    align-self: flex-start;
    bottom: 4rem;
  }
  .points {
    bottom: calc(5rem + 8vh);
    left: 2rem;
  }
  .undo {
    bottom: calc(5rem + 14vh);
    left: 2rem;
  }
  .confirmation {
    height: calc(46vh + 4rem);
  }
}
