.cardHolder{
  overflow: visible;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}

.randomCard {
  &, &Two, &Three {
    overflow: visible;
    width: clamp(3rem, 10vw, 20vh);
    position: absolute;
    top: 10%;
  }
  
  left: calc(50% - clamp(1.5rem, 5vw, 10vh));
  z-index: 1003;
  
  &Two {
    left: calc(60% - clamp(1.5rem, 5vw, 10vh));
    transform: rotatez(28deg);
    top: 8%;
    z-index: 1001;
  }
  
  &Three {
    left: calc(40% - clamp(1.5rem, 5vw, 10vh));
    transform: rotateZ(-18deg);
    top: 9%;
    z-index: 1002;
  } 
}

.clubs, .spades, .hearts, .diamonds {
  & svg {
    height: 100%;
    width: auto;
    position: absolute;
    inset: 0;
  }
  width: fit-content;
  height: 100%;
}

.deck {
  &0, &1, &2, &3, &4 {
    width: 166%;
  }
  
  &0 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &1 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: -50%;
  }

  &2 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: -100%;
  }

  &3 {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-left: -150%;
  }

  &4 {
    grid-column-start: 5;
    grid-column-end: 6;
    margin-left: -200%;
  }
}

.spiderDeck {
  grid-column-start: 4;
  grid-column-end: 6;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
  & svg {
    max-height: 100%;
    width: auto;
  }
}

.deckEmpty {
  grid-column-start: 1;
  grid-column-end: 2;
  aspect-ratio: 592/800;
  border: 3px solid white;
  height: clamp(2rem, 100%, 14vw);
  padding: 2px;
  border-radius: 5px;
}

.playable {

  &1, &2, &3 {
    width: 150%;
  }
  
  &1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  &2 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: -25%;
  }
  
  &3 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: -50%;
  }
}

.card {
  &0, &1, &2, &3, &4, &5, &6, &7, &8, &9, &10, &11, &12, &13, &14, &15, &16, &17, &18, &19 {
    width: Clamp(2.5rem, 90%, 12vh);
    position: absolute;
    margin-top: 1vh;
  }
  
  &0 {
    z-index: 1000;
    top: 0;
  }

  &1 {
    z-index: 1001;
    top: Min(3vh, 4%);
  }

  &2 {
    z-index: 1002;
    top: Min(6vh, 8%);
  }

  &3 {
    z-index: 1003;
    top: Min(9vh, 12%);
  }

  &4 {
    z-index: 1004;
    top: Min(12vh, 16%);
  }

  &5 {
    z-index: 1005;
    top: Min(15vh, 20%);
  }

  &6 {
    z-index: 1006;
    top: Min(18vh, 24%);
  }

  &7 {
    z-index: 1007;
    top: Min(21vh, 28%);
  }

  &8 {
    z-index: 1008;
    top: Min(24vh, 32%);
  }

  &9 {
    z-index: 1009;
    top: Min(27vh, 36%);
  }

  &10 {
    z-index: 1010;
    top: Min(30vh, 40%);
  }

  &11 {
    z-index: 1011;
    top: Min(33vh, 44%);
  }

  &12 {
    z-index: 1012;
    top: Min(36vh, 48%);
  }

  &13 {
    z-index: 1013;
    top: Min(39vh, 52%);
  }

  &14 {
    z-index: 1014;
    top: Min(42vh, 56%);
  }

  &15 {
    z-index: 1015;
    top: Min(45vh, 60%);
  }

  &16 {
    z-index: 1016;
    top: Min(48vh, 64%);
  }

  &17 {
    z-index: 1017;
    top: Min(51vh, 68%);
  }

  &18 {
    z-index: 1018;
    top: Min(54vh, 72%);
  }

  &19 {
    z-index: 1019;
    top: Min(57vh, 76%);
  }
}


@media(max-width: 820px) {
  .card{
    &0, &1, &2, &3, &4, &5, &6, &7, &8, &9, &10, &11, &12, &13, &14, &15, &16, &17, &18, &19 {
      margin-top: 0;
    }
  }

  .randomCard {
    &, &Two, &Three {
      width: clamp(3rem, 10vw, 8vh);
      top: clamp(0rem, 2vh, 2vw);
    }

    left: calc(50% - clamp(1.5rem, 5vw, 4vh));
    z-index: 1003;
    
    &Two {
      left: calc(60% - clamp(1.5rem, 5vw, 4vh));
      transform: rotateZ(28deg);
      top: 8%;
      z-index: 1001;
    }
    
    &Three {
      left: calc(40% - clamp(1.5rem, 5vw, 4vh));
      transform: rotateZ(-18deg);
      top: 9%;
      z-index: 1002;
    }
  }
}