.deck0, .deck1, .deck2, .deck3, .deck4 {
  position: absolute;
  display: flex;
  align-self: center;
  height: 90%;
  width: 30%;
}

.deck0 {
  left: 3%;
}

.deck1 {
  left: 9%;
}

.deck2 {
  left: 15%;
}

.deck3 {
  left: 21%;
}

.deck4 {
  left: 27%;
}

.deckEmpty {
  position: absolute;
  align-self: center;
  left: 0;
  aspect-ratio: 360/540;
  border: 3px solid white;
  height: 100%;
  padding: 3px 0;
  border-radius: 5px;
}

.playable1, .playable2, .playable3 {
  position: absolute;
  display: flex;
  height: 100%;
  width: 50%;
}

.playable1 {
  right: 40%;
}

.playable2 {
  right: 20%;
}

.playable3 {
  right: 0;
}

.card0, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19 {
  aspect-ratio: 2.5/3.5;
  overflow: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: Clamp(3rem, 18vw, 75%);
  position: absolute;
  margin-top: 1vh;
}

.card0 {
  z-index: 1000;
  top: 0;
}

.card1 {
  z-index: 1001;
  top: Min(3vh, 4%);
}

.card2 {
  z-index: 1002;
  top: Min(6vh, 8%);
}

.card3 {
  z-index: 1003;
  top: Min(9vh, 12%);
}

.card4 {
  z-index: 1004;
  top: Min(12vh, 16%);
}

.card5 {
  z-index: 1005;
  top: Min(15vh, 20%);
}

.card6 {
  z-index: 1006;
  top: Min(18vh, 24%);
}

.card7 {
  z-index: 1007;
  top: Min(21vh, 28%);
}

.card8 {
  z-index: 1008;
  top: Min(24vh, 32%);
}

.card9 {
  z-index: 1009;
  top: Min(27vh, 36%);
}

.card10 {
  z-index: 1010;
  top: Min(30vh, 40%);
}

.card11 {
  z-index: 1011;
  top: Min(33vh, 44%);
}

.card12 {
  z-index: 1012;
  top: Min(36vh, 48%);
}

.card13 {
  z-index: 1013;
  top: Min(39vh, 52%);
}

.card14 {
  z-index: 1014;
  top: Min(42vh, 56%);
}

.card15 {
  z-index: 1015;
  top: Min(45vh, 60%);
}

.card16 {
  z-index: 1016;
  top: Min(48vh, 64%);
}

.card17 {
  z-index: 1017;
  top: Min(51vh, 68%);
}

.card18 {
  z-index: 1018;
  top: Min(54vh, 72%);
}

.card19 {
  z-index: 1019;
  top: Min(57vh, 76%);
}

.mainCardFront {
  border-radius: 5px;
  min-width: 85%;
  max-width: 100%;
  align-self: flex-start;
  object-fit: contain;
}

.cardback {
  padding: 3.5px;
  background: black;
  height: 100%;
}

.mainCardback{
  margin-top: -30%;
  width: 75%;
  padding: 3px;
  border-radius: 5px;
  background: black;
}

@media(max-width: 820px) {
  .card0, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19 {
    margin-top: 0;
  }
  .deck0, .deck1, .deck2, .deck3, .deck4 {
    height: calc(50% + 1rem);
  }
  .deckEmpty {
    height: calc(50% + 1rem);
  }
}