.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  aspect-ratio: 592/800;
  background-color: white;
  border: .25vmax solid black;
  border-radius: .5rem;
  & * {
    -webkit-text-stroke: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}

.topSuit, .bottomSuit, .topGhostSuit, .bottomGhostSuit {
  position: relative;
  width: 100%;
  height: 100%;
  & .suitPositioner{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.topSuit {
  & .suitPositioner{
    top: 5%;
    right: 5%;
  }
  & .spadeLeft {
    top: 5%;
    right: 17.5%;

  }
  & .spadeRight {
    top: 5%;
    right: 5%;
  }
  & .spadeBottom {
    top: 30%;
    right: 22.5%;
  }
}
.bottomSuit {
  & .suitPositioner{
    bottom: 5%;
    left: 5%;
  }
  & .spadeLeft {
    bottom: 10%;
    left: 5%;
  }
  & .spadeRight {
    bottom: 10%;
    left: 17.5%;
  }
  & .spadeBottom {
    bottom: 0;
    left: 22.5%;
  }
}

.diamond {
  position: relative;
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &:nth-of-type(odd)::after {
    top: 10%;
    right: 15%;
  }
  &:nth-of-type(even)::after {
    bottom: 10%;
    left: 15%;
  }
}
.heart {
  position: relative;
  width: 100%;
  height: 100%;
  &::after{
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}


.spade {
  position: absolute;
  width: 100%;
  height: 100%;
  & .spadeLeft{
    position: absolute;
    width: 45%;
    aspect-ratio: 1/1.33;
    background-color: black;
    border-radius: 999% 999% 0 0;
    transform: rotate(-132.5deg);
  }
  & .spadeRight {
    position: absolute;
    
    width: 45%;
    aspect-ratio: 1/1.33;
    background-color: black;
    border-radius: 999% 999% 0 0;
    transform: rotate(132.5deg);
  }
  & .spadeBottom {
    position: absolute;
    
    width: 20%;
    height: 30%;
    background-color: black;
  }
}
.club {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  &::after{
    content: "";
    position: absolute;
    display: inline-block;
    top: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 5%;
    left: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}

.red {
  &Ace, &Two, &Three, &Four, &Five, &Six, &Seven, &Eight, &Nine, &Ten{
    position: relative;
    color: red;
    line-height: 100%;
    font-size: clamp(1rem, 150%, 5vmin);
    &:first-of-type {
      align-self: flex-start;
      justify-self: flex-start;
      left: 10%;
    }
    &:last-of-type {
      align-self: flex-end;
      justify-self: flex-end;
      right: 10%;
    }
  }
}

.black {
  &Ace, &Two, &Three, &Four, &Five, &Six, &Seven, &Eight, &Nine, &Ten{
    position: relative;
    color: black;
    line-height: 100%;
    font-size: clamp(1rem, 150%, 5vmin);
    &:first-of-type {

      align-self: flex-start;
      justify-self: flex-start;
      left: 10%;
    }
    &:last-of-type {
      align-self: flex-end;
      justify-self: flex-end;
      right: 10%;
    }
  }
}

.twoOf {
  &Diamonds {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
  }
}