.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: white;
  border: .25vmax solid black;
  aspect-ratio: 592/800;
  border-radius: .5rem;
  & * {
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.diamond {
  display: inline-block;
  &::after{
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    width: .5em;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: .5em;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}
.heart {
  position: relative;
  width: 100%;
  height: 100%;
  &::after{
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}
.spade {
  position: relative;
  width: 100%;
  height: 100%;
  &::after{
    content: "";
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}
.club {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  &::after{
    content: "";
    position: absolute;
    display: inline-block;
    top: 5%;
    right: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 5%;
    left: 5%;
    width: 10%;
    aspect-ratio: 1;
    background-color: red;
    transform: rotate(45deg);
  }
}

.red {
  &Ace, &Two, &Three, &Four, &Five, &Six, &Seven, &Eight, &Nine, &Ten{
    &::before {
      position: absolute;
      color: red;
      top: 0;
      left: 5%;
      line-height: 100%;
    }
    &::after {
      position: absolute;
      color: red;
      bottom: 0;
      right: 5%;
    }
  }
  &Ace {
    &::before {
      content: "A";
    }
    &::after {
      content: "A";
    }
  }
  &Two {
    &::before {
      content: "2";
    }
    &::after {
      content: "2";
    }
  }
  &Three {
    &::before {
      content: "3";
    }
    &::after {
      content: "3";
    }
  }
  &Four {
    &::before {
      content: "4";
    }
    &::after {
      content: "4";
    }
  }
  &Five {
    &::before {
      content: "5";
    }
    &::after {
      content: "5";
    }
  }
  &Six {
    &::before {
      content: "6";
    }
    &::after {
      content: "6";
    }
  }
  &Seven {
    &::before {
      content: "7";
    }
    &::after {
      content: "7";
    }
  }
  &Eight {
    &::before {
      content: "8";
    }
    &::after {
      content: "8";
    }
  }
  &Nine {
    &::before {
      content: "9";
    }
    &::after {
      content: "9";
    }
  }
  &Ten {
    &::before {
      content: "10";
    }
    &::after {
      content: "10";
    }
  }
}

.twoOf {
  &Diamonds {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
  }
}