@use "abstracts" as *;

@include menu(2);

.setting {
  width: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  grid-column: span 2;
  & h3 {
    font-size: clamp(1.25rem, 4vw, 3.5vh);
    text-align: center;
    margin: 0;
    padding: .25rem;
    line-height: 1.2;
  }
  
}

.tab{
  font-size: clamp(.85rem, 2vw, 4vh);
  line-height: 1;
}