@use "abstracts" as *;

.stats {
  width: 100%;
  grid-column: span 999;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
  & * {
    overflow: visible;
    padding: 0;
    margin: 0;
  }
  & > p {
    font-size: clamp(1.25rem, 4vw, 5vh);
  }
}

.btn {
  padding: clamp(1rem, 3vw, 3vh);
  background-color: $highlighted-grey;
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0 0 .75rem 0 hsla(0deg, 0%, 0%, .5);
  font-size: clamp(1.5rem, 5vw, 6vh);
  cursor: pointer;
}