.cardback {
  width: 100%;
  aspect-ratio: 592/800;
  background-image: repeating-conic-gradient(black 0deg 90deg, maroon 90deg 180deg, black 180deg 270deg, maroon 270deg 360deg);
  background-size: 2vmax 2vmax;
  border: 0.25vmax black solid;
  border-radius: 0.5rem;
}

.cardHolder {
  overflow: visible;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}

.randomCard {
  left: calc(50% - clamp(1.5rem, 5vw, 10vh));
  z-index: 1003;
}
.randomCard, .randomCardTwo, .randomCardThree {
  overflow: visible;
  width: clamp(3rem, 10vw, 20vh);
  position: absolute;
  top: 10%;
}
.randomCardTwo {
  left: calc(60% - clamp(1.5rem, 5vw, 10vh));
  transform: rotatez(28deg);
  top: 8%;
  z-index: 1001;
}
.randomCardThree {
  left: calc(40% - clamp(1.5rem, 5vw, 10vh));
  transform: rotateZ(-18deg);
  top: 9%;
  z-index: 1002;
}

.clubs, .spades, .hearts, .diamonds {
  aspect-ratio: 592/800;
  width: clamp(2.5rem, 10vw, 10vh);
  position: absolute;
  left: 0;
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}

.clubs {
  transform: translateX(0);
  z-index: 1003;
}

.spades {
  transform: translateX(calc(0.1rem + clamp(2.5rem, 10vw, 10vh)));
  z-index: 1001;
}

.hearts {
  transform: translateX(calc(0.2rem + 2 * clamp(2.5rem, 10vw, 10vh)));
  z-index: 1002;
}

.diamonds {
  transform: translateX(calc(0.3rem + 3 * clamp(2.5rem, 10vw, 10vh)));
  z-index: 1003;
}

.deck0, .deck1, .deck2, .deck3, .deck4 {
  position: absolute;
  width: clamp(2.5rem, 10vw, 10vh);
  transition: transform 0.1s ease-in-out;
}
.deck0 svg, .deck1 svg, .deck2 svg, .deck3 svg, .deck4 svg {
  width: 100%;
}
.deck0 {
  transform: translateX(0);
}
.deck1 {
  transform: translateX(calc(0.5 * clamp(2.5rem, 10vw, 10vh)));
}
.deck2 {
  transform: translateX(calc(1 * clamp(2.5rem, 10vw, 10vh)));
}
.deck3 {
  transform: translateX(calc(1.5 * clamp(2.5rem, 10vw, 10vh)));
}
.deck4 {
  transform: translateX(calc(2 * clamp(2.5rem, 10vw, 10vh)));
}

.spiderDeck {
  grid-column-start: 4;
  grid-column-end: 6;
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}
.spiderDeck svg {
  max-height: 100%;
  width: auto;
}

.deckEmpty {
  aspect-ratio: 592/800;
  box-shadow: inset 0 0 0 3px white;
  width: clamp(2.5rem, 10vw, 10vh);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
}

.reset {
  font-size: clamp(0.7rem, 3vw, 3vh);
  line-height: 1;
  transform: rotateZ(-52deg);
  position: absolute;
  top: 20%;
  left: 12%;
  margin: auto;
}

.playable1, .playable2, .playable3 {
  position: absolute;
  width: clamp(2.5rem, 10vw, 10vh);
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}
.playable1 svg, .playable2 svg, .playable3 svg {
  width: 100%;
}
.playable1 {
  transform: translateX(calc(-0.25 * clamp(2.5rem, 10vw, 10vh)));
}
.playable2 {
  transform: translateX(calc(0.25 * clamp(2.5rem, 10vw, 10vh)));
}
.playable3 {
  transform: translateX(calc(0.75 * clamp(2.5rem, 10vw, 10vh)));
}

.card0, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19 {
  width: clamp(2.5rem, 11vw, 16vh);
  position: absolute;
  transform: translateX(50%);
  transition: transform 0.1s ease-in-out;
}
.card0.largerCard, .card1.largerCard, .card2.largerCard, .card3.largerCard, .card4.largerCard, .card5.largerCard, .card6.largerCard, .card7.largerCard, .card8.largerCard, .card9.largerCard, .card10.largerCard, .card11.largerCard, .card12.largerCard, .card13.largerCard, .card14.largerCard, .card15.largerCard, .card16.largerCard, .card17.largerCard, .card18.largerCard, .card19.largerCard {
  width: clamp(2.5rem, 11vw, 20vh);
}
.card0.largestCard, .card1.largestCard, .card2.largestCard, .card3.largestCard, .card4.largestCard, .card5.largestCard, .card6.largestCard, .card7.largestCard, .card8.largestCard, .card9.largestCard, .card10.largestCard, .card11.largestCard, .card12.largestCard, .card13.largestCard, .card14.largestCard, .card15.largestCard, .card16.largestCard, .card17.largestCard, .card18.largestCard, .card19.largestCard {
  width: clamp(2.5rem, 11vw, 22vh);
}
.card0.largeCard, .card1.largeCard, .card2.largeCard, .card3.largeCard, .card4.largeCard, .card5.largeCard, .card6.largeCard, .card7.largeCard, .card8.largeCard, .card9.largeCard, .card10.largeCard, .card11.largeCard, .card12.largeCard, .card13.largeCard, .card14.largeCard, .card15.largeCard, .card16.largeCard, .card17.largeCard, .card18.largeCard, .card19.largeCard {
  width: clamp(2.5rem, 11vw, 20vh);
}
.card0.smallCard, .card1.smallCard, .card2.smallCard, .card3.smallCard, .card4.smallCard, .card5.smallCard, .card6.smallCard, .card7.smallCard, .card8.smallCard, .card9.smallCard, .card10.smallCard, .card11.smallCard, .card12.smallCard, .card13.smallCard, .card14.smallCard, .card15.smallCard, .card16.smallCard, .card17.smallCard, .card18.smallCard, .card19.smallCard {
  width: clamp(2.5rem, 11vw, 14vh);
}
.card0 {
  z-index: 1000;
  transform: translateY(0);
}
.card1 {
  z-index: 1001;
  transform: translateY(4vh);
}
.card1.largestCard {
  transform: translateY(5vh);
}
.card1.smallCard {
  transform: translateY(3vh);
}
.card2 {
  z-index: 1002;
  transform: translateY(8vh);
}
.card2.largestCard {
  transform: translateY(10vh);
}
.card2.smallCard {
  transform: translateY(6vh);
}
.card3 {
  z-index: 1003;
  transform: translateY(12vh);
}
.card3.largestCard {
  transform: translateY(15vh);
}
.card3.smallCard {
  transform: translateY(9vh);
}
.card4 {
  z-index: 1004;
  transform: translateY(16vh);
}
.card4.largestCard {
  transform: translateY(20vh);
}
.card4.smallCard {
  transform: translateY(12vh);
}
.card5 {
  z-index: 1005;
  transform: translateY(20vh);
}
.card5.largestCard {
  transform: translateY(25vh);
}
.card5.smallCard {
  transform: translateY(15vh);
}
.card6 {
  z-index: 1006;
  transform: translateY(24vh);
}
.card6.largestCard {
  transform: translateY(30vh);
}
.card6.smallCard {
  transform: translateY(18vh);
}
.card7 {
  z-index: 1007;
  transform: translateY(28vh);
}
.card7.largestCard {
  transform: translateY(35vh);
}
.card7.smallCard {
  transform: translateY(21vh);
}
.card8 {
  z-index: 1008;
  transform: translateY(32vh);
}
.card8.smallCard {
  transform: translateY(24vh);
}
.card9 {
  z-index: 1009;
  transform: translateY(36vh);
}
.card9.smallCard {
  transform: translateY(27vh);
}
.card10 {
  z-index: 1010;
  transform: translateY(40vh);
}
.card10.smallCard {
  transform: translateY(30vh);
}
.card11 {
  z-index: 1011;
  transform: translateY(44vh);
}
.card11.smallCard {
  transform: translateY(33vh);
}
.card12 {
  z-index: 1012;
  transform: translateY(48vh);
}
.card12.smallCard {
  transform: translateY(36vh);
}
.card13 {
  z-index: 1013;
  transform: translateY(52vh);
}
.card13.smallCard {
  transform: translateY(39vh);
}
.card14 {
  z-index: 1014;
  transform: translateY(56vh);
}
.card14.smallCard {
  transform: translateY(42vh);
}
.card15 {
  z-index: 1015;
  transform: translateY(60vh);
}
.card15.smallCard {
  transform: translateY(45vh);
}
.card16 {
  z-index: 1016;
  transform: translateY(48vh);
}
.card17 {
  z-index: 1017;
  transform: translateY(51vh);
}
.card18 {
  z-index: 1018;
  transform: translateY(54vh);
}
.card19 {
  z-index: 1019;
  transform: translateY(57vh);
}

@media (max-width: 820px) {
  .card0, .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19 {
    margin-top: 0;
  }
  .randomCard {
    left: calc(50% - clamp(1.5rem, 5vw, 4vh));
    z-index: 1003;
  }
  .randomCard, .randomCardTwo, .randomCardThree {
    width: clamp(3rem, 10vw, 8vh);
    top: clamp(0rem, 2vh, 2vw);
  }
  .randomCardTwo {
    left: calc(60% - clamp(1.5rem, 5vw, 4vh));
    transform: rotateZ(28deg);
    top: 8%;
    z-index: 1001;
  }
  .randomCardThree {
    left: calc(40% - clamp(1.5rem, 5vw, 4vh));
    transform: rotateZ(-18deg);
    top: 9%;
    z-index: 1002;
  }
}