.menu {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10vh 36vh;
  width: 100%;
  transform: translateY(46vh);
  transition: transform 0.5s ease-in-out;
  z-index: 6000;
}
.menu.open {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.menu.shown {
  z-index: 7000;
}
.menu * {
  text-transform: capitalize;
}

.tabs {
  background-color: hsl(210deg, 33%, 10%);
  height: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.tab {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.15rem, 2.5vw, 6vh);
  cursor: pointer;
  text-align: center;
}
.tab.current {
  background-color: hsl(210deg, 33%, 15%);
}
.tab:not(:nth-child(2)) {
  border-right: 1px solid white;
}

.statsTab {
  font-size: clamp(1.25rem, 2.5vw, 6vh);
}

.tabContent {
  background-color: hsl(210deg, 33%, 10%);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50vw);
  grid-template-rows: 1fr;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}
.setting:not(:last-of-type) {
  border-right: 1px solid white;
}
.setting h3 {
  padding-bottom: 2rem;
}

@media (max-width: 820px) {
  .menu {
    bottom: 4rem;
  }
  .menu.open {
    grid-auto-rows: 6vh calc(40vh + 4rem);
    transform: translateY(4rem);
  }
  .menu:not(.open) ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(210deg, 33%, 10%);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
.setting:not(:nth-child(4)) {
  border-right: 1px solid white;
}
.setting h3, .setting h4 {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}
.setting h3 {
  font-size: clamp(1.25rem, 6vw, 6vh);
}
.setting h4 {
  font-size: clamp(1rem, 3vw, 4vh);
}

.confirmation {
  position: absolute;
  inset: 0;
  background-color: hsl(210deg, 33%, 10%);
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: clamp(1rem, 3vh, 4vw);
  font-size: clamp(1.5rem, 2vw, 2vh);
  gap: 1rem;
}
.confirmation * {
  margin: 0;
}
.confirmationButtons {
  gap: 2rem;
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.btn, .smallBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(2vw, 2rem, 4vw);
  background-color: hsl(210deg, 33%, 20%);
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0 0 0.75rem 0 hsla(0deg, 0%, 0%, 0.5);
  cursor: pointer;
}

.smallBtn {
  padding: clamp(3vh, 3vw, 4rem);
  font-size: clamp(1.5rem, 5vw, 6vh);
  border-radius: 50%;
  color: inherit;
}

.radioBtnOn, .radioBtnOff, .radioBtnHalf {
  background-color: hsl(210deg, 33%, 15%);
  display: flex;
  height: 2rem;
  width: clamp(4rem, 20vw, 12rem);
  border-radius: 2rem;
  cursor: pointer;
}

.radioBtnOn .radioBtnCircle {
  transform: translateX(clamp(2rem, 20vw - 2rem, 10rem));
  background-color: white;
}

.radioBtnOff .radioBtnCircle {
  transform: translateX(0);
  background-color: hsl(0deg, 0%, 30%);
}

.radioBtnHalf .radioBtnCircle {
  transform: translateX(clamp(1rem, 10vw - 1rem, 5rem));
  background-color: hsl(0deg, 0%, 60%);
}

.radioBtnCircle {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  aspect-ratio: 1;
  height: 100%;
  border-radius: 999%;
}